/*body {
  background-color: rgb(59,59,63);
}
*/
div {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	background-color: rgb(238, 0, 255);
	min-width: fit-content;
	max-width: 400px;
}
