/*body {
  background-color: rgb(59,59,63);
}
*/
div {
  back ground-color: rgb(238,0,255);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  text-align: center;
  min-width: fit-content
  max-width: 50%;
}
